<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <h4 class="bg-light text-center col-md-2 col-sm-2 my-3">食品一覧</h1>
      <div class="row">
          <% @foods_page.each do |food| %>
          <div class="col-md-3 col-sm-4 my-3">
            <%= link_to food_path(food['itemCode']), class: 'text-dark' do %>
              <%= image_tag food["mediumImageUrls"][0], class: "food-image" %><br>
              <strong><%= food.name %></strong><br>
            <% end %>
           </div>
          <% end %>
          <div class='col'>
           <%= paginate @foods_page %>
          </div>
      </div>
    </div>
  </div>
</div>


